<div class="grey1">
                <div>
                    <img class="ho" src="Hotel/Heavenly.svg" width="650px" >
                </div>
                <div class="v2"></div>
                <p class="stay">STAY CONNECTED</p>
                <div class="social">
                    
                    <ul>
                        <li class=""><img src="Hotel/facebook.png" width="40px"></a></li>
                        <li class=""><img src="Hotel/twitter.png" width="40px" ></a></li>
                        <li class=""><img src="Hotel/instagram.png" width="40px" ></a></li>
                    </ul>
                </div>
                
                <div class="list1">
                    <p class="company">Company</p>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Popular Services</a></li>
                        <li><a href="#">Why Us</a></li>
                    </ul>
                </div>

                
                <div class="list2">
                    <p class="cities">Cities</p>
                    <ul>
                        <li><a href="#">Bangalore</a></li>
                        <li><a href="#">Kurnool</a></li>
                        <li><a href="#">Chennai</a></li>
                        <li><a href="#">Kolkata</a></li>
                        <li><a href="#">Hyderabad</a></li>
                        <li><a href="#">Vishakapatnam</a></li>
                    </ul>
                </div>
            </div>