body{
    background-color:#303048;
    /* background-color:rgb(36 36 36) ; */
    color: #bd93f9;
}
th,td {
    border: 2px solid black;
    color: #ff79c6;
    text-align: center;
}
ul {
    display: block;
    /* position: absolute; */
}
.LUNCH{
    color: rgba(245, 245, 245, 0.637);
}
.alignment{
    margin: auto;
    width: fit-content;
    /* background-color: yellowgreen; */
}
header{
  text-align: center;
  font-size: 2rem;
  position: relative;

  /* text-shadow: 0.15em 0 0 rgba(255, 0, 0, 0.75), */
  /*              -0.045em -0.05em 0 rgba(0, 255, 0, 0.75), */
  /*              0.145em 0.15em 0 rgba(0, 0, 255, 0.75); */
  /* animation: glitch 500ms infinite; */
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: #ffb86c;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: #8be9fd;
    background-color: transparent;
    text-decoration: none;
  }
  
a:active {
    color: rgb(30, 255, 0);
    background-color: transparent;
    text-decoration: none;
  }

/* @keyframes glitch{ */
/*   0%{ */
/*     text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), */
/*                 -0.05em -0.025em 0 rgba(0, 255, 0, 0.75) */
/*                 -0.025em 0.05em 0 rgba(0, 0, 255, 0.75); */
/* } */
/*   24%{ */
/*     text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), */
/*                 -0.05em -0.025em 0 rgba(0, 255, 0, 0.75) */
/*                 -0.025em 0.05em 0 rgba(0, 0, 255, 0.75); */
/* } */
/*   25%{ */
/*     text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), */
/*                 -0.025em 0.05em 0 rgba(0, 255, 0, 0.75), */
/*                 0.05em 0 0 rgba(0, 0, 255, 0.75); */
/* } */
/*   49%{ */
/*     text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), */
/*                 -0.025em 0.05em 0 rgba(0, 255, 0, 0.75), */
/*                 0.05em 0 0 rgba(0, 0, 255, 0.75); */
/* } */
/*   50%{ */
/*     text-shadow: 0.05em 0 0 rgba(0, 255, 0, 0.75), */
/*                 -0.05em -0.025em 0 rgba(0, 0, 255, 0.75) */
/*                 -0.025em 0.05em 0 rgba(255, 0, 0, 0.75); */
/* } */
/*   74%{ */
/*     text-shadow: 0.05em 0 0 rgba(0, 255, 0, 0.75), */
/*                 -0.05em -0.025em 0 rgba(0, 0, 255, 0.75) */
/*                 -0.025em 0.05em 0 rgba(255, 0, 0, 0.75); */
/* } */
/*   75%{ */
/*     text-shadow: 0.05em 0 0 rgba(0, 0, 255, 0.75), */
/*                 -0.05em -0.025em 0 rgba(0, 255, 0, 0.75) */
/*                 0.025em -0.05em 0 rgba(255, 0, 0, 0.75); */
/* } */
/*   99%{ */
/*     text-shadow: 0.05em 0 0 rgba(0, 0, 255, 0.75), */
/*                 -0.05em -0.025em 0 rgba(0, 255, 0, 0.75) */
/*                 0.025em -0.05em 0 rgba(255, 0, 0, 0.75); */
/* } */
/*   100%{ */
/*     text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75), */
/*                 -0.05em 0.025em 0 rgba(0, 255, 0, 0.75) */
/*                 0.025em 0.05em 0 rgba(0, 0, 255, 0.75); */
/* } */
/* } */
