body{
  margin: 0px;
  background-color: rgba(24, 24, 48, 1);
  color: rgba(255, 255, 255, 1);
}
.home-page {
  margin: 0px;
  background-image: linear-gradient(rgba(20, 39, 74, 0.6), rgba(20, 39, 74, 0.6)),url(./Hotel/main-background.jpg);
  font-family: Tinos;
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size: cover;
  width: auto;
  height: 100vh;
}
.navi-menu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  content: '';
  font-family: "Tinos";
}

.logo > img {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.navi-buttons{
  position: absolute;
  top: 8px;
  right: 24px;
  gap: 20px;
}

.button{
  background: none;
  position: relative;
  border: none;
  font-size: 30px;
  color: #BBA46E;
}

.aboutUs > h1{
  font-family: "?????";
}

.button::after{
  content: '';
  height: 3px;
  width: 0;
  background: rgba(0, 56, 255, 0.75);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
.button:hover::after{
  width: 100%;
}



