<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>initParamServeletProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>feedbckServlet</display-name>
    <servlet-name>feedbckServlet</servlet-name>
    <servlet-class>com.initParamServeletProject.servlets.feedbckServlet</servlet-class>
    <init-param>
      <description>Company Email</description>
      <param-name>companyEmail</param-name>
      <param-value>mandala.vijay.surya@gmail.com</param-value>
    </init-param>
    <init-param>
      <description>Company Phone Number</description>
      <param-name>companyPhoneNumber</param-name>
      <param-value>+91-9493111857</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbckServlet</servlet-name>
    <url-pattern>/feedbckServlet</url-pattern>
  </servlet-mapping>
</web-app>